{% extends 'base_layout.html' %}






{% block content %}
<br><br><br><br><br>

<div align='center' style="margin-left:350px; margin-right:350px;line-height:40px;justify-content:center">


  <div class="article-detail">
    <div class="article">
      <div align='center'>
        <img src="{{article.thumb.url}}" >
      </div>
      <div class="col-md-12">

        <div class="col-md-6">

        </div>


        <div class="col-md-4" style="text-align:justify">


          <h2 align='center'>{{article.title}}</h2>

          <p>{{article.body}}</p>
          <p align='center'>{{article.author}}</p>
          <p align='center'>{{article.date}}</p>

        </div>

      </div>

    </div>


  </div>


</div>



{% endblock %}
